@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(-500px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(500px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Changes the box model so that borders and paddings arent included in the size of a box*/ }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

::selection {
  background-color: #8b43ff;
  color: #fff; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #4a4a4a; }

.heading-primary {
  margin-bottom: 3rem; }
  .heading-primary--main {
    color: #293347;
    display: block;
    font-size: 5.8rem;
    font-weight: 900;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
    .heading-primary--main--name {
      color: #8b43ff; }
  .heading-primary--sub {
    display: block;
    font-size: 2.6rem;
    font-weight: 300;
    padding-top: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }

.heading-secondary {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 7rem; }
  .heading-secondary--underline {
    display: inline-block;
    height: .5rem;
    width: 11rem;
    background-color: #fff; }
  .heading-secondary--underline-heading {
    display: inline-block;
    height: .5rem;
    width: 11rem;
    background-color: #293347; }
  .heading-secondary--heading {
    color: #293347; }
  .heading-secondary--purple {
    color: #8b43ff; }
  .heading-secondary--underline--purple {
    display: inline-block;
    height: .5rem;
    width: 11rem;
    background-color: #8b43ff; }

.paragraph__box--container {
  width: 60%;
  margin: 0 auto; }

.paragraph__box--text {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  letter-spacing: .1rem; }

.heading-tertiary {
  color: #293347;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem; }
  .heading-tertiary--white {
    color: #fff;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem; }
  .heading-tertiary--purple {
    color: #8b43ff;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 30rem !important; }

.u-margin-top-large {
  margin-top: 10.5rem !important; }

.u-margin-top-medium {
  margin-top: 6.5rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-padding-top-large {
  padding-top: 10rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 10rem !important; }

.u-padding-bottom-small {
  padding-bottom: 7rem !important; }

.btn, .btn:link, .btn:visited, .btn:active, .btn:focus {
  text-decoration: none;
  padding: 1.2rem 5rem 1.2rem 2rem;
  display: inline-block;
  color: #4a4a4a;
  font-size: 2rem;
  border: 2px solid #8b43ff;
  cursor: pointer;
  position: relative; }

.btn--arrow {
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  transition: all .5s;
  margin-bottom: -2rem; }
  .btn--arrow--space {
    margin-top: 6rem; }

.btn:hover {
  background-color: #8b43ff;
  color: #fff; }

.btn:hover .btn--arrow {
  transform: rotate(90deg); }

.btn--white {
  background-color: #fff;
  color: #c6c6c6; }

.projects__card {
  border-radius: .5rem;
  height: 40rem;
  overflow: hidden;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  background-color: #fff; }
  .projects__card--thumbnail {
    width: 100%;
    height: 50%;
    object-fit: cover; }
  .projects__card--image {
    height: 100%;
    object-fit: inherit;
    margin-left: -2rem; }
  .projects__card--text {
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: .01rem; }
    .projects__card--text--mail:link, .projects__card--text--mail:visited {
      text-decoration: none;
      color: #8b43ff; }
    .projects__card--text--link:link, .projects__card--text--link:visited {
      text-decoration: none;
      color: #8b43ff; }
    .projects__card--text--white {
      padding: 0 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.4rem;
      letter-spacing: .01rem;
      color: #fff; }
    .projects__card--text--purple {
      padding: 0 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.4rem;
      letter-spacing: .01rem;
      color: #8b43ff; }
  .projects__card--links {
    text-decoration: none;
    font-size: 1.7rem;
    color: #293347;
    padding-right: 2rem;
    transition: all .1s; }
    .projects__card--links--nopad {
      text-decoration: none;
      font-size: 1.7rem;
      color: #293347;
      transition: all .1s; }
      .projects__card--links--nopad:hover {
        color: #8b43ff; }
    .projects__card--links:hover {
      color: #8b43ff; }
  .projects__card--icons {
    font-size: 1.5rem;
    padding-left: .5rem; }

.skills {
  padding: 5rem 0; }
  .skills__content-box {
    text-align: center; }
    .skills__content-box--circle {
      background-color: #fff;
      width: 11rem;
      height: 11rem;
      justify-content: center;
      border-radius: 100%;
      margin: 0 auto; }
    .skills__content-box--icon {
      font-size: 6em;
      color: #8b43ff;
      padding-top: 2.3rem; }
    .skills__content-box--text {
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 1.5;
      color: #4a4a4a;
      letter-spacing: .1rem; }
    .skills__content-box--skillsicon {
      display: inline-block;
      font-size: 3.2rem;
      color: #293347;
      transition: all .7s; }
      .skills__content-box--skillsicon:hover {
        transform: rotate(360deg) scale(2);
        color: #8b43ff; }

.skills__container {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  border-radius: 1rem;
  display: inline-block;
  margin-top: -20rem;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8; }
  @media (max-width: 56.25em) {
    .skills__container {
      margin-top: -10rem; } }
  @media (max-width: 37.5em) {
    .skills__container {
      margin-top: -5rem; } }

.testimonial__container--image {
  max-width: 9.6rem;
  border-radius: 100%;
  margin-bottom: 2.5rem;
  border: 3px solid #fff; }

.testimonial__container--text {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  line-height: 1.6; }

.testimonial__container--qoute {
  font-size: 3rem; }

.contact__width {
  max-width: 40rem;
  margin: 0 auto; }

.contact__container--link {
  text-decoration: none;
  display: inline-block; }

.contact__container--heading {
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1rem; }

.contact__container--icon {
  font-size: 4.5rem;
  color: #fff;
  padding-top: 2rem; }

.contact__hr {
  width: 80%;
  margin: 0 auto;
  background-color: black; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem*2) / 3); }
  .row .col-2-of-3 {
    width: calc(   (((100% - 6rem*2) / 3)*2) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem*3) / 4); }
  .row .col-2-of-4 {
    width: calc(   (((100% - 6rem*3) / 4)*2) + 6rem); }
  .row .col-3-of-4 {
    width: calc(   (((100% - 6rem*3) / 4)*3) + (6rem *2)); }
  .row .col-1-of-10 {
    width: calc((100% - 6rem*9) / 10); }

.header {
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 6rem; }
  .header__logo {
    height: 12rem; }
  .header__text-box {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 75em) {
      .header__text-box {
        top: 25%; } }
    @media (max-width: 37.5em) {
      .header__text-box {
        width: 85%; } }
  .header__hero {
    position: absolute;
    bottom: 0;
    width: 25%; }
  .header__image {
    height: 45vh; }
    @media (max-width: 75em) {
      .header__image {
        display: none; } }

@media (max-width: 56.25em) {
  .header__navigation {
    display: none; } }

.header__navigation--nav {
  display: block; }

.header__navigation--list {
  display: block;
  float: right;
  padding: 5rem 7rem; }

.header__navigation--item {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 3rem;
  letter-spacing: .2rem;
  transition: all .3s; }
  .header__navigation--item:hover {
    border-bottom: 0.3rem solid #8b43ff; }

.header__navigation--link {
  color: #8b43ff;
  text-decoration: none; }

.section-about {
  background-color: #8b43ff;
  height: 65rem;
  margin-top: -.2rem; }

.section-skills {
  background-color: #fcfcfc;
  height: 100%; }

.section-testimonials {
  background-color: #8b43ff;
  padding-bottom: 10rem;
  margin-top: 20rem; }

.section-footer {
  background-color: #293347;
  -webkit-clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0); }
  @media (max-width: 56.25em) {
    .section-footer {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
