.header {
    height: 100vh;
    position: relative;

    

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 6rem;
    }
    
    &__logo {
        height: 12rem;
    }
    
    &__text-box {
        display: block;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include respond(tab-land) {
            top: 25%;
        }

        @include respond(phone) {
            width: 85%;
        }
    }

    &__hero {
        position: absolute;
        bottom: 0;
        width: 25%;
    }

    &__image {
        height: 45vh;

        @include respond(tab-land) {
            display: none;
        }
    }


}