.header__navigation {

    flex: 1;

    @include respond(tab-port) {
        display: none;
    }
    
    &--nav {
        display: block;

        
    }

    &--list {
        display: block;
        float: right;
        padding: 5rem 0rem;
    }

    &--item {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0 3rem;
        letter-spacing: .2rem;
        transition: all .3s;
        // border-bottom: .3rem solid $color-one;

        &:hover {
        border-bottom: .3rem solid $color-one;

        }
    }

    &--link {
        color: $color-one;
        text-decoration: none;
    }
}
