.btn {
    &, // only a links have link and visited pseudo tags so have to add this line for the <button> element
    &:link,
    &:visited,
    &:active,
    &:focus {
        text-decoration: none;
        padding: 1.2rem 5rem 1.2rem 2rem;
        display: inline-block;
        color: $color-para;
        // transition: all .2s;
        font-size: 2rem;
        //Change for the <button> element
        border: 2px solid $color-one;
        cursor: pointer;
        position: relative;
    }

    &--arrow {
        position: absolute;
        top: 1.8rem;
        right: 1.5rem;
        transition: all .5s;
        margin-bottom: -2rem;

        &--space {
            margin-top: 6rem;
        }
    }

    &:hover {
        background-color: $color-one;
        color: $color-white;
    }

    &:hover  &--arrow {
        transform: rotate(90deg);
    }
    // &:hover {
    //     transform: translateY(-3px);
    //     box-shadow: 0 10px 20px rgba(#000000, 0.2);
    // }

    // &:active,
    // &:focus { // add focus line for <button> element
    //     outline: none; // outline none for <button> element
    //     transform: translateY(-1px);
    //     box-shadow: 0 5px 10px rgba(#000000, 0.2);
    // }

    &--white {
        background-color: $color-white;
        color: #c6c6c6; 

    }

    
}