.projects__container {

}

.projects__card {
    border-radius: .5rem;
    height: 40rem;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
    background-color: $color-white;

    &--thumbnail {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    &--image {
        // width: 100%;
        height: 100%;
        object-fit: inherit;
        margin-left: -2rem;
    }

    &--text {
        padding: 0 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.4rem;
        letter-spacing: .01rem;
    }

    &--links {
        text-decoration: none;
        font-size: 1.7rem;
        color: $color-heading;
        padding-right: 2rem;
        transition: all .1s;

        &:hover {
            color: $color-one;
        }

    }

    &--icons {
        font-size: 1.5rem;
        padding-left: .5rem;
    }
}