.skills {

    padding: 5rem 0;

    &__content-box {
        text-align: center;

        &--circle {
            background-color: $color-white;
            width: 11rem;
            height: 11rem;
            justify-content: center;
            border-radius: 100%;
            margin: 0 auto;
        }

        &--icon {
            font-size: 6em;
            color: $color-one;
            padding-top: 2.3rem;
        }

        &--text {
            font-size: 1.7rem;
            font-weight: 300;
            line-height: 1.5;
            color: $color-para;
            // word-spacing: .1rem;
            letter-spacing: .1rem;
        }

        &--skillsicon {
            display: inline-block;
            font-size: 3.2rem;
            color: $color-heading;
            transition: all .7s;

            &:hover {
                transform: rotate(360deg) scale(2);
                // transform: scale(1.5);
                color: $color-one;
            }
        }
    }
}

.skills__container {
    // height: 40rem;
    background-color: $color-white;
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    display: inline-block;
    margin-top: -20rem;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;


    
    @include respond(tab-port) {
    margin-top: -10rem;

    }

    @include respond(phone) {
        margin-top: -5rem;
    
        }

    
}