.section-about {
    background-color: $color-one;
    height: 65rem;
    margin-top: -.2rem;
}

.section-skills {
    background-color: $color-off-white;
    height: 100%;
}

.section-testimonials {
    background-color: $color-one;
    height: 65rem;
    margin-top: 7rem;
}